PORT = 
SESSION_SECRET = 
JWT_SECRET = 
MONGODB_URL = 
FRONTEND_URL=
EMAIL_USER
EMAIL_PASS=


PG_USER=
PG_HOST=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=


GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:7001/api/auth/google/callback
