PORT = 7001
SESSION_SECRET = mySessionSecret
JWT_SECRET = jwtsecrettttttt
MONGODB_URL = mongodb+srv://morenikejiolowo101_db_user:Ox0GY4izVECmpxTZ@cluster0.ry0necn.mongodb.net/?appName=Cluster0
FRONTEND_URL=http://localhost:5173
EMAIL_USER=morenikejiolowo101@gmail.com
EMAIL_PASS=rhqhewqxtyfsihtp


PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=homeHub
PG_PASSWORD=123456
PG_PORT=5432


GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:7001/api/auth/google/callback